@font-face {
  font-family: "Scotch Modern";
  src: url("../fonts/ScotchModern-Bold.woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Paytone One";
  src: url("../fonts/PaytoneOne-Regular.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Roman.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}