<footer class="footer">
    <section class="container">
        <article class="footer__content">
            <h6 class="footer__title">Сайт выполнен студентами группы 873603:</h6>
            <div class="footer__info">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a
                                href="https://vk.com/deroy_light"
                                target="_blank"
                                class="footer__link"
                        >Свирбут Анастасия Валерьевна</a>
                    </li>
                    <li class="footer__item">
                        <a
                                href="https://vk.com/exxzzy"
                                target="_blank"
                                class="footer__link"
                        >Кнодель Вячеслав Алексеевич</a>
                    </li>
                    <li class="footer__item">
                        <a
                                href="https://vk.com/nikita17ivashenko2411"
                                target="_blank"
                                class="footer__link"
                        >Ивашенко Никита Валерьевич</a>
                    </li>
                    <li class="footer__item">
                        <a
                                href="https://vk.com/kurockett"
                                target="_blank"
                                class="footer__link"
                        >Портнов Никита Вячеславович</a>
                    </li>
                </ul>
                <p class="footer__copyright">Copyright &copy; 2021 All Right Reseved</p>
            </div>
        </article>
    </section>
</footer>