<header
        data-aos="fade-in"
        data-aos-delay="200"
        class="header"
>
    <section class="container">
        <div class="header__intro">
            <h1 class="header__intro_title">Dislab</h1>
            <nav class="nav">
                <ul class="nav__list"
                    data-aos="fade-down"
                    data-aos-delay="400"
                >
                    <li class="nav__item">
                        <a href="index.html" class="nav__link">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a href="works.html" class="nav__link">Наши работы</a>
                    </li>
                    <li class="nav__item">
                        <a href="about.html" class="nav__link">О нас</a>
                    </li>
                    <li class="nav__item">
                        <a href="contacts.html" class="nav__link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <button class="menu-toggle">
                <span/>
            </button>
        </div>
        <div class="header__content">
            <h2 class="header__content_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus,
                vero?</h2>
            <p class="header__content_subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem
                debitis dicta dolores fugit ipsum iure libero perspiciatis quam vitae?</p>
        </div>
    </section>
</header>